body{
    background-color: darkmagenta;
}
h1{
    color: aqua ;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: chartreuse;
    padding: 50px;
    border-color: darkblue;
    border-width: 20px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
div{
    background-image: url("https://th.bing.com/th/id/Rc90fb58d29048e44993e611826420592?rik=UQOd%2fsVYbKMDCw&pid=ImgRaw");
    }